* {
    margin: 0;
    padding: 0;
    font-family: "Verdana", serif;
}

h1 + img {
    margin-top: 20px;
}

h1 + ul {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #C0C0C0;
    text-shadow: red 0 0 4px;
}

header {
    padding: 10px;
    background: black;
    box-shadow: red 0 0 4px;
    width: 100%;
    position: fixed;
    /**
    * The header is always infront of all other objects.
    **/
    z-index: 100;
    left: 0;
    top: 0;
}

.headerlogo {
    float: left;
    height: 50px;
    width: 45px;
    margin-left: 30px;
}

.headnav {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.headnav li {
    display: inline;
    margin-left: 20px;
}

footer {
    /**
     * clear both, because floats of the other elements can make the footer jump into a higher position than these elements.
     **/
    clear: both;

    /**
    * To put the Footericons to the right side.
    **/
    text-align: right;

    padding: 30px;
    background: black;
    bottom: 0;
}

footer p {
    color: white;
    font-size: 10pt;
    display: inline;
    text-align: center;
}

footer a {
    font-size: 10pt;
}

.footer-text {
    text-align: center;
    margin: 0 0 20px 0;
}

.footericons {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav {
    margin-top: 20px;
    margin-right: 30px;
    float: right;
}

article {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 10px;
}

aside {
    padding: 30px 20px 20px 20px;
    width: 150px;
    color: white;
    background-color: gray;
}

aside li {
    list-style: none;
}

.flexbox {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

.gallery {
    width: 236px;
}

#addimage-button {
    margin-top: 20px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: blue;
}

#addimage-button:hover {
    color: #C0C0C0;
    box-shadow: red 0 0 30px;
}
#addimage-button:active {
    color: white;
    background-color: black;
}




/**
 * Julius image.css
 **/
.picture-frame {
    width: 236px;
    height: 100%;
    background-size: 236px 100%;
    text-align: center;
}
.picture-button-frame {
    display: none;
    margin: auto;
    width: 50%;
    top: 50%;
    position:relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.like-button {
    background-color: dodgerblue;
    border-radius: 5px;
    width: 100px;
}
.detail-button {
    background-color: beige;
    border-radius: 5px;
    width: 80px;
}





/**
* A line to separate elements.
* Its a design-feature.
**/
.line {
    height: 1px;
    border-bottom: 1px solid #ddd;
    margin: 0 0 20px 0;
}